
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS for styling and layout-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://kit.fontawesome.com/e25aabb098.js" crossorigin="anonymous"></script>
        <script defer src="theme.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />

        <title>Ajouter Un Nouveau Utilisateur</title>
         
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body style="background-color: #f1f1f1;">
        <div class="container-fluid bg-white border">
            <div class="row">
              <div class="col"><img class="img-fluid" width="70" height="70" src="log0.png"></div>
              <div class="col"><br><h3 id="navbar_logo" class="text-right">LOGIS</h3></div>
            </div>
            <br>
        </div>
        <br>
        <div class="container-xl mt-3" style="border-radius: 0.5rem; background-color: #f1f1f1;">
            <div class="row">
              <div class="col-sm-8">
                <a href="../Accueil/index.html" data-toggle="tooltip" data-placement="left" title="Accueil"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-home active"></i></button></a>
                <a href="../Mon Profile/index0.html" data-toggle="tooltip" data-placement="top" title="Mon Profile"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-user icon"></i></button></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Aide"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="far fa-question-circle icon"></i></button></a>
                <a href="../../Home/index.html" data-toggle="tooltip" data-placement="right" title="Deconnexion"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-sign-out-alt icon"></i></button></a>
              </div>
              <div class="col-sm-4">
                <div class="chip " style="float: right; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);" >
                  <img src="person.png" class="rounded-circle" alt="Person" width="96" height="96">Nom  Prénom
                </div>
              </div> 
          </div>
        </div>
        <br>
        <div class="container-xl mt-3 bg-white border" style="border-radius: 0.5rem;">
            <br>
            <div class="about-section">
                <h3>Ajouter Un Nouveau Utilisateur</h3>
                

            </div>
            <form class="needs-validation" novalidate style="margin-left: 30px;" action="/ajouterutil" method="POST" onsubmit="return checkMDP(this);">
                <br>
                <div class="form-group">
                    <label for="message"> </label>
                    <input type="text" id="nom" name="nom" value="<%=x %>" readonly>
                    
                     
                        
                </div> 
                <div class="form-group">
                    <label for="nominput"> Nom   : </label>
                        <input type="text" class="form-control" id="nom" placeholder="Saisir le nom ici" name="nom" style="width: 50%;" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>
                <div class="form-group">
                    <label for="prenominput"> Prénom   : </label>
                        <input type="text" class="form-control" id="prenom" placeholder="Saisir le prénom ici" name="prenom" style="width: 50%;" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>
                <div class="form-group">
                    <label for="roleinput"> Role  : </label>
                        <input type="text" class="form-control" id="role" placeholder="Saisir le role ici" name="role" style="width: 50%;" list="taskslist" required>
                        <datalist id="taskslist">
                            <option value="editeur">Editeur</option>
                            <option value="valideur">Valideur</option>
                        </datalist>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>
                <div class="form-group">
                    <label for="idinput"> Nom d'utilisateur   : </label>
                        <input type="text" class="form-control" id="nomu" placeholder="Saisir le nom utilisateur ici" name="nomu" style="width: 50%;" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>
                <hr style="width: 90%;">
                <div class="form-group">
                    <label for="emailinput"> Email   : </label>
                    <input type="email" class="form-control" id="email" placeholder="Saisir l'email ici" name="email" style="width: 50%;" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>
                <div class="form-group">
                    <label for="telinput"> Numéro de Téléphone   : </label>
                    <input type="tel" class="form-control" id="tel" placeholder="Saisir le numéro de téléphone ici" name="tel" style="width: 50%;" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>
                <hr style="width: 90%;">
                <div class="form-group">
                    <label for="adresseinput"> Adresse   : </label>
                    <input type="text" class="form-control" id="adresse" placeholder="Saisir l'adresse ici" name="adresse" style="width: 50%;" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>
                <hr style="width: 90%;">
                <div class="form-group">
                    <label for="mdpinput"> Mot de passe   : </label>
                    <input type="password" class="form-control" id="mdp" placeholder="Saisir le mot de passe ici" name="mdp" style="width: 50%;" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>
                <div class="form-group">
                    <label for="cmdpinput"> Confirmer le mot de passe   : </label>
                    <input type="password" class="form-control" id="cmdp" placeholder="Confirmer le mot de passe ici" name="cmdp" style="width: 50%;" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">veuillez remplir ce champs.</div>
                </div>


                <div class="col"><br><button type="submit" class="btn float-right" style="background-color: #44e0b3; border-radius: 0.5rem; height: 50px; color: white;">Ajouter</button></div>
                <br>
            </form>

            
            

            <br><br>
        </div>
        
        
        <br>
        <div class="container-xl mt-3 bg-white border" style="border-radius: 0.5rem;">
            <br>
            <div class="row">
               <div class="col-sm-8 ">
                    <div class="col"><a href="../../Contacter_Nous/index.html"><strong> Contacter Nous </strong></a></div>
                </div>
                <div class="col"><img class="img-fluid float-right" width="170" height="100" src="800px-ESI_Logo.png"></div> 
            </div>
        </div>
        <br>

        <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
          });
        </script>
        <script>
        // Disable form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                // Get the forms we want to add validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
                });
            }, false);
            })();

            function checkMDP(theForm) {
    if (theForm.mdp.value != theForm.cmdp.value)
    {
        alert('mots de passe non identiques');
        return false;
    } else {
        
        return true;
    }
}
        </script>
    </body>
</html>