
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS for styling and layout-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://kit.fontawesome.com/e25aabb098.js" crossorigin="anonymous"></script>
        <script defer src="theme.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />

        <title>Accueil</title>
         
        <link rel="stylesheet" href="css/styleaccueil.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body style="background-color: #f1f1f1;">
        <div class="container-fluid bg-white border">
            <div class="row">
              <div class="col"><img class="img-fluid" width="70" height="70" src="log0.png"></div>
              <div class="col"><br><h3 id="navbar_logo" class="text-right">LOGIS</h3></div>
            </div>
            <br>
        </div>
        <br>
        <div class="container-xl mt-3" style="border-radius: 0.5rem; background-color: #f1f1f1;">
            <div class="row">
              <div class="col-sm-8">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Accueil"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-home active"></i></button></a>
                <a href="consulterprofile" data-toggle="tooltip" data-placement="top" title="Mon Profile"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-user icon"></i></button></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Aide"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="far fa-question-circle icon"></i></button></a>
                <a href="home" data-toggle="tooltip" data-placement="right" title="Deconnexion"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-sign-out-alt icon"></i></button></a>
              </div>
              <div class="col-sm-4">
                <div class="chip " style="float: right; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);" >
                  <img src="person.png" class="rounded-circle" alt="Person" width="96" height="96">Nom  Prénom
                </div>
              </div> 
          </div>
        </div>
          <br>
          <div class="container-xl mt-3 bg-white border" style="border-radius: 0.5rem;">
            <br>
            <div class="about-section">
              <h3>Bienvenue  !</h3>
            </div>
            
            <div class="row">
              <div class="column">
                  <div class="card">
                      
                      <div class="container">
                        <br>
                        <h4 style="text-align: center;">Introuduire Les Accusés De Receptions</h4>
                        <br>
                        <h6 class="title">-Introuduire Les Accusés De Reception.</h6>
                        <h6 class="title">-Imprimer Les Accusés De Reception.</h6>
                        <h6 class="title">-Télécharger Les Accusés De Reception en Format PDF.</h6>
                        <br>
                        <a href="introduireaccuse"><button class="button">Cliquez ici </button></a>
                      </div>
                      <br>
                  </div>
              </div>
  
              <div class="column">
                  <div class="card">
                      
                      <div class="container">
                        <br>
                        <h4 style="text-align: center;">Introuduire Les Demandeurs</h4>
                        <br>
                        <h6 class="title">-Introuduire Les Demandeurs.</h6>
                        <h6 class="title">-Saisir Les Informations d'Un Demandeur.</h6>
                        <br>
                        <a href="introduiredemandeur"><button class="button">Cliquez ici </button></a>
                      </div>
                      <br>
                  </div>
              </div>

              <div class="column">
                <div class="card">
                    
                    <div class="container">
                      <br>
                      <h4 style="text-align: center;">Valider Les Demandeurs</h4>
                      <br>
                      <h6 class="title">-Modifier Les Informations Des Demandeurs.</h6>
                      <h6 class="title">-Valider Les Informations Des Demandeurs.</h6>
                      <br>
                      <a href="listedemandeurs"><button class="button">Cliquez ici </button></a>
                    </div>
                    <br>
                </div>
             </div>
            </div>

            <div class="row">
              <div class="column">
                  <div class="card">
                      
                      <div class="container">
                        <br>
                        <h4 style="text-align: center;">Consulter Le Classement Des Demandeurs</h4>
                        <br>
                        <h6 class="title">-Consultation des Demandeurs selons les points attribués</h6>
                        
                        <br>
                        <a href="consulterclassement"><button class="button">Cliquez ici </button></a>
                      </div>
                      <br>
                  </div>
              </div>
  
              <div class="column">
                  <div class="card">
                      
                      <div class="container">
                        <br>
                        <h4 style="text-align: center;">Statistique</h4>
                        <br>
                        <h6 class="title">-Consulter l'ensemble des Demandeurs via des graphes.</h6>
                        
                        <br>
                        <a href=""><button class="button">Indisponible</button></a>
                      </div>
                      <br>
                  </div>
              </div>

              <div class="column">
                <div class="card">
                    
                    <div class="container">
                      <br>
                      <h4 style="text-align: center;">Introuduire Les Recours</h4>
                      <br>
                      <h6 class="title">-Modifier Les Informations Des Demandeurs.</h6>
                      <h6 class="title">-Valider Les Informations Des Demandeurs difinitivement.</h6>
                      <br>
                      <a href=""><button class="button">Indisponible</button></a>
                    </div>
                    <br>
                </div>
             </div>
            </div>

            <div class="row">
              <div class="column">
                  <div class="card">
                      
                      <div class="container">
                        <br>
                        <h4 style="text-align: center;">Consulter L'Historique</h4>
                        <br>
                        <h6 class="title">-Consulter l'historique de travail et savoir qui a fait quoi et quand</h6>
                        
                        <br>
                        <a href=""><button class="button">Indisponible</button></a>
                      </div>
                      <br>
                  </div>
              </div>
  
              <div class="column">
                  <div class="card">
                      
                      <div class="container">
                        <br>
                        <h4 style="text-align: center;">Chaine PV</h4>
                        <br>
                        <h6 class="title">-Introuduire vos rapport et pv.</h6>
                        
                        <br>
                        <a href=""><button class="button">Indisponible</button></a>
                      </div>
                      <br>
                  </div>
              </div>

              <div class="column">
                <div class="card">
                    
                    <div class="container">
                      <br>
                      <h4 style="text-align: center;">Gerer Les Comptes</h4>
                      <br>
                      <h6 class="title">-Modifier Les Informations Des Demandeurs.</h6>
                      <h6 class="title">-Valider Les Informations Des Demandeurs.</h6>
                      <br>
                      <a href="gestiondescomptes"><button class="button">Cliquez ici </button></a>
                    </div>
                    <br>
                </div>
             </div>
            </div>
          </div>
        </div>
        
        
        <br>
        <div class="container-xl mt-3 bg-white border" style="border-radius: 0.5rem;">
            <br>
            <div class="row">
               <div class="col-sm-8 ">
                    <div class="col"><a href="../../Contacter_Nous/index.html"><strong> Contacter Nous </strong></a></div>
                </div>
                <div class="col"><img class="img-fluid float-right" width="170" height="100" src="800px-ESI_Logo.png"></div> 
            </div>
        </div>
        <br>

        <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
          });
        </script>
    </body>
</html>