<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS for styling and layout-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://kit.fontawesome.com/e25aabb098.js" crossorigin="anonymous"></script>
        <script defer src="theme.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />

        <title>Desactiver Un Compte Utilisateur</title>
         
        <link rel="stylesheet" href="/css/stylegerercomptes.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body style="background-color: #f1f1f1;">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn butlink" onclick="closeNav()">&times;</a>
            <a class="tasklink" href="introduireaccuse">Introuduire Les Accusés De Receptions</a>
            <a class="tasklink"  href="introduiredemandeur">Introuduire Les Demandeurs</a>
            <a class="tasklink" href="listedemandeurs">Valider Les Demandeurs</a>
            <a class="tasklink" href="consulterclassement">Consulter Le Classement Des Demandeurs</a>
            <a class="tasklink" href="#">Statistique</a>
            <a class="tasklink" href="#">Introuduire Les Recours</a>
            <a class="tasklink" href="#">Consulter L'Historique</a>  
            <a class="tasklink" href="#">Chaine PV</a>
            <a class="tasklink" href="gestiondescomptes">Gerer Les Comptes</a>
          </div>
          <div id="main">
            <div class="container-fluid bg-white border">
                <div class="row">
                  <div class="col"><img class="img-fluid" width="70" height="70" src="log0.png"></div>
                  <div class="col"><br><h3 id="navbar_logo" class="text-right">LOGIS</h3></div>
                </div>
                <br>
            </div>
            <br>
            <div class="container-fluid " style="border-radius: 0.5rem; background-color: #f1f1f1;">
                <div class="row">
                  <div class="col-sm-2"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span></div>
                  <div class="col-sm-8">
                    <a href="accueil" data-toggle="tooltip" data-placement="left" title="Accueil"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-home icon "></i></button></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Mon Profile"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-user icon"></i></button></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Aide"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="far fa-question-circle icon"></i></button></a>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Deconnexion"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"><i class="fas fa-sign-out-alt icon"></i></button></a>
                    <a href="gestiondescomptes" data-toggle="tooltip" data-placement="right" title="Retour"><button type="button" class="btn" style="background-color: #1f2833; border-radius: 50%; width: 60px; height: 60px;"> <i class="fas fa-undo-alt icon"></i></button></a>
                  </div>
                  <div class="col-sm-2">
                    <div class="chip " style="float: right; color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);" >
                      <img src="person.png" class="rounded-circle" alt="Person" width="96" height="96">
                    </div>
                  </div> 
              </div>
            </div>
                <div class="container-xl mt-3 bg-white border" style="border-radius: 0.5rem;">
                <br>
                <div class="about-section">
                  <h1>Desactiver Un Compte Utilisateur</h1>
                </div>
            <form class="needs-validation" action="/desactiverutilisateur" method="POST" novalidate style="margin-left: 30px;">
                <br>
                <div class="form-group">
                    <label for="idinput"> Nom d'utilisateur  : </label>
                        <input type="text" class="form-control" id="idinput" placeholder="Saisir le Nom d'utilisateur ici" name="nomu" style="width: 50%;" required>
                        <div class="valid-feedback">Valide.</div>
                        <div class="invalid-feedback">Veuillez remplir ce champ.</div>
                </div>
                <div class="form-group">
                    <label for="nominput"> Nom   : </label>
                        <input type="text" class="form-control" id="nominput" placeholder="Saisir le nom ici" name="nom" style="width: 50%;" required>
                        <div class="valid-feedback">Valide.</div>
                        <div class="invalid-feedback">Veuillez remplir ce champ.</div>
                </div>
                <div class="form-group">
                    <label for="prenominput"> Prénom   : </label>
                        <input type="text" class="form-control" id="prenominput" placeholder="Saisir le prénom ici" name="prenom" style="width: 50%;" required>
                        <div class="valid-feedback">Valide.</div>
                        <div class="invalid-feedback">Veuillez remplir ce champ.</div>
                </div>
                <div class="col"><br><button type="button" class="btn float-right" style="background-color: #44e0b3; border-radius: 0.5rem; height: 50px; color: white;" onclick="confirm()">Desactiver</button></div>
                <br>
                <div class="col" id="conf"></div>
                <br>
            </form>
            <br><br>
        </div>
        
        
        <br>
        <div class="container-xl mt-3 bg-white border" style="border-radius: 0.5rem;">
            <br>
            <div class="row">
               <div class="col-sm-8 ">
                    <div class="col"><a href="../../Contacter_Nous/index.html"><strong> Contacter Nous </strong></a></div>
                </div>
                <div class="col"><img class="img-fluid float-right" width="170" height="100" src="800px-ESI_Logo.png"></div> 
            </div>
        </div>
        <br>
    </div>

        <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
          });
        </script>
        <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
              document.getElementById("main").style.marginLeft = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
              document.getElementById("main").style.marginLeft= "0";
            }
            </script>
        <script>
        // Disable form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                // Get the forms we want to add validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
                });
            }, false);
            })();

            function confirm(){
              document.getElementById("conf").innerHTML = `
              <br>
              <h6 style="color:red">Etes vous sure de vouloir supprimer cet utilisateur<h6>
              <button type="submit" class="btn float-right" style="background-color: #44e0b3; border-radius: 0.5rem; height: 50px; color: white;">Confirmer</button>`
            }
        </script>
    </body>
</html>