* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1f2833;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidenav::-webkit-scrollbar {
  width: 0.25rem;
}

.sidenav::-webkit-scrollbar-track {
  background: #1e1e24;
}

.sidenav::-webkit-scrollbar-thumb {
  background: #44e0b3;
}

.tasklink{
  padding: 1rem 1rem 1rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.tasklink:hover {
  color: #1f2833;
  background-color: #7fffd4;
  text-decoration: none;
}

.butlink{
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.butlink:hover {
  color: white;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #44e0b3;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 1rem;
  background-color: #1f2833;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #1f2833;
  color: white;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.active {
  color: #44e0b3;
  font-size: 36px;
  background-color: #1f2833;
  border-radius: 50%;
}

.icon {
  color: white;
  font-size: 36px;
  background-color: #1f2833;
  border-radius: 50%;
}
.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}